# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build result
output/
local/

# local conf
*_local.conf

.idea/
*.pyc
